.articlesHeading {
  color: #725a5c;
  margin-bottom: 10px;
  text-align: center;
}

.sortByForm {
  margin-bottom: 10px;
  text-align: center;
}

.sortByLabel {
  color: #725a5c;
  margin-left: 10px;
}

.sortBySelect {
  border: none;
  background-color: #d4d0a4;
  color: #725a5c;
  font-weight: 800;
  transition: 150ms;
}

.articlesUnorderedList {
  padding: 10px 10px 30px 10px;
}

.articlesLink {
  text-decoration: none;
  color: #725a5c;
}

.articlesListItem {
  margin-bottom: 20px;
  background-color: #d4d0a4;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 150ms;
}

.articlesListItem:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: 150ms;
}

.sortBySelect:hover {
  cursor: pointer;
  transition: 150ms;
}

.sortBySelect:focus {
  outline: none;
  transition: 150ms;
}

@media only screen and (min-width: 768px) {
  .articlesUnorderedList {
    margin: 0 20%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .articlesListItem {
    height: 320px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}
.loadingCircle {
  height: 100%;
  width: 100%;
}
