.loginForm {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  background-color: #d4d0a4;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  padding: 5px;
  box-shadow: 2px 2px 1px 1px;
  color: #725a5c;
  margin: 20px;
  text-decoration: none;
  transition: 150ms;
  cursor: pointer;
}

.loginButton:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: 150ms;
  cursor: pointer;
}

.loginInput {
  border: none;
  background-color: #d4d0a4;
  color: #725a5c;
  font-weight: 800;
  transition: 150ms;
}

.loginLabel {
  color: #725a5c;
}
