.nav {
  margin-bottom: 15px;
  background-color: #a8a8a1;
  height: 40px;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: #725a5c;
  font-weight: 700;
}

.unorderedList {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navLink:hover {
  color: #d4d0a4;
}
