.articleDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  padding: 0 20px 0 20px;
  margin: 0 20% 20px 20%;
}

.articleTitle {
  margin-bottom: 10px;
  color: #725a5c;
  font-weight: 800;
}

.articleAuthor {
  margin-bottom: 10px;
  color: #725a5c;
  font-weight: 700;
}

.articleText {
  color: #848c92;
  font-weight: 800;
  margin-bottom: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.voteButton {
  background-color: #d4d0a4;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  padding: 5px;
  box-shadow: 2px 2px 1px 1px;
  color: #725a5c;
  margin-bottom: 20px;
  transition: 150ms;
}

.likeIcon {
  margin-left: 5px;
}

.voteButton:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  cursor: pointer;
  transition: 150ms;
}
.loadingCircle {
  height: 100%;
  width: 100%;
}
