.button {
  background-color: #d4d0a4;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  padding: 5px;
  box-shadow: 2px 2px 1px 1px;
  color: #725a5c;
  margin-bottom: 20px;
  transition: 150ms;
}

.button:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  cursor: pointer;
  transition: 150ms;
}
